name: Primary committer

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/5 * * * *'

jobs:
  spam_commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config user.name "eschan145"
          git config user.email "esamuelchan@gmail.com"

      - name: Authenticate with GitHub Token
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git remote set-url origin https://eschan145:$TOKEN@github.com/${{ github.repository }}.git

      - name: Spam Commits
        run: |
          for i in {1..12000}
          do
            # Create an empty file
            touch spam_commit_$i.txt
            
            # Stage and commit the file creation
            git add spam_commit_$i.txt
            git commit -m "Spam commit $i" --quiet
            
            # Remove the file, stage, and commit the deletion
            git rm spam_commit_$i.txt --quiet
            git commit -m "Remove spam commit $i" --quiet

            # Optionally display progress every 1,000 commits
            if (( i % 100 == 0 )); then
              printf "Completed: $i commits\r"
            fi
          done
          echo "" # Move to a new line after the loop finishes
          git push https://$GH_PAT@github.com/eschan145/farm.git --force
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
