name: Spam Commits

on:
  push:
    branches:
      - main

jobs:
  spam_commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure Git
        run: |
          git config user.name "eschan145"
          git config user.email "esamuelchan@gmail.com"

      - name: Authenticate with GitHub Token
        env:
          TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git remote set-url origin https://eschan145:$TOKEN@github.com/${{ github.repository }}.git

      - name: Spam Commits
        run: |
          for i in {1..3000}
          do
            # Create an empty file, stage, and commit
            touch spam_commit_$i.txt
            git add spam_commit_$i.txt
            git commit -m "Spam commit $i" --quiet

            # Delete the file, stage, and commit
            rm spam_commit_$i.txt
            git add spam_commit_$i.txt
            git commit -m "Remove spam_commit_$i" --quiet

            # Display the count on the same line, using \r to overwrite the previous output
            printf "Total commits: $((i))\r"
          done
          echo "" # Move to a new line after the loop finishes
          git push https://$GH_PAT@github.com/eschan145/farm.git --force
        env:
          # A GitHub PAT must be set up as an Actions secret in the repository
          GH_PAT: ${{ secrets.GH_PAT }}
